@media (min-width: 701px) and (max-width: 1120px) {
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 100%;
  height: auto;
}

.paragraphContainer {
  flex: 1;
  margin: 0 20px;
}
