.flexContainer {
  flex-direction: column;
}
.imageContainer {
  width: 100%;
  height: 10%;
  display: flex;
  margin: auto;
}
.image {
  width: 100%;
  height: auto;
}
.paragraphContainer {
  margin: 10px;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .flexContainer {
    flex-direction: column;
    justify-content: center;
  }
  .imageContainer {
    width: 100%;
    height: 20%;
    margin: auto;
  }
  .image {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1121px) {
  .flexContainer {
    flex-direction: column;
    justify-content: center;
  }

  .imageContainer {
    max-width: 100%;
    margin: 10px 0px 10px;
    display: flex;
    justify-content: space-around;
  }

  .image {
    display: flex;
    flex-direction: center;
    width: 100%;
    height: auto;
  }

  .paragraphContainer {
    flex: 1;
    margin: 0 20px;
  }
}
