.cardContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.form-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  gap: 10px;
  align-items: center;
}

.input {
  margin-top: 5px;
}
.textarea {
  margin-top: 5px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}

.card:nth-child(1) {
  top: 12rem; /* set top to 1 rem for the first card */
}

.card:nth-child(2) {
  top: 3rem; /* set top to 0 for the second card */
}

.submitButton {
  background-color: #ee6148;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 768px) {
  /* Mobile view */
  .cardContainer {
    height: 300px;
    width: 100%;
    background-color: #f86f44;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 16px;
  }

  .card {
    margin-top: 1rem; /* Add margin between cards */
  }
  .card:nth-child(1) {
    top: 2rem; /* set top to 1 rem for the first card */
  }

  .card:nth-child(2) {
    top: 1rem; /* set top to 0 for the second card */
  }
}
