* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  background-color: white;
}
.container {
  background-color: white important;
}

.content-button {
  width: 120px;
  height: 50px;
  border: #f86f44 1px solid;
  color: #f86f44;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}
.content-button:hover {
  width: 120px;
  height: 50px;
  border: #f86f44 1px solid;
  color: white;
  background-color: #f86f44;
  border-radius: 8px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.main-container {
  max-width: 1240px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* New height */
  padding: 0 20px; /* Reduced horizontal padding */
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header button {
  padding: 8px 16px;
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.header button:hover {
  background-color: #f5f5f5;
}

.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.header nav ul li {
  margin-left: 16px; /* Smaller margin */
}

.header nav ul li button {
  background-color: #ee6148;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.header nav ul li button:hover {
  background-color: #f86f44;
}

.header nav ul li:first-child {
  margin-left: 0px;
}

.header nav ul li.active button {
  background-color: #ee6148;
}
.header .dropdown {
  position: relative;
}

.header .dropdown .dropbtn {
  background-color: #f86f44;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .dropdown .dropbtn:hover {
  background-color: #ee6148;
}

.header .dropdown .arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  margin-left: 8px;
}

.header .dropdown:hover .dropdown-content {
  display: block;
}

.header .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.header .dropdown-content a {
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease-in-out;
}

.header .dropdown-content a:hover {
  background-color: #f5f5f5;
}

/* Add media query for screens smaller than 768px */
@media (max-width: 768px) {
  .header {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .header nav {
    margin-top: 20px;
  }

  .header a {
    margin-bottom: 20px;
  }

  .header .nav-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header .nav-links.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header .nav-links li {
    margin: 10px 0;
  }

  .header .nav-links li:first-child {
    margin-top: 0;
  }

  .header .dropdown-content {
    margin-top: 10px;
    min-width: auto;
  }
}

/* Add media query for screens larger than 768px */
@media (min-width: 769px) {
  .header nav ul {
    justify-content: flex-end;
  }

  .header nav ul li {
    margin-left: 32px;
  }

  .header nav ul li:first-child {
    margin-left: 0;
  }

  .header .dropdown-content {
    margin-top: 0;
    min-width: 160px;
  }
}
/* Footer container */
.container {
  margin-top: 50px;
  padding: 30px;
  background-color: #f7f7f7;
  border-top: 2px solid #e0e0e0;
}

/* Footer top section */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Footer contact section */
.footer-contact {
  flex-basis: 40%;
  max-width: 400px;
  margin-bottom: 30px;
  color: #333;
}

.footer-contact h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f86f44;
}

.footer-contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contact li {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

/* Footer social section */
.footer-social {
  flex-basis: 25%;
  margin-bottom: 30px;
}

.footer-social h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f86f44;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.footer-social img:hover {
  transform: scale(1.2);
}

/* Footer navigation section */
.footer-nav {
  flex-basis: 25%;
  margin-bottom: 30px;
}
.userName,
.password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.footer-nav h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f86f44;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.footer-nav li a {
  color: #333;
  transition: all 0.2s ease-in-out;
}

.footer-nav li a:hover {
  color: #ff6600;
}

/* Footer bottom section */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #f86f44;
}

/* Media queries for responsive design */

@media (max-width: 768px) {
  /* Reduce the width of the footer sections */
  .footer-contact,
  .footer-social,
  .footer-nav {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* Center align the social icons */
  .footer-social ul {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  /* Increase font sizes for smaller screens */
  .footer-contact h3,
  .footer-social h3,
  .footer-nav h3 {
    font-size: 1.3rem;
  }

  .footer-contact li,
  .footer-nav li {
    font-size: 1rem;
  }

  /* Stack the footer sections vertically */
  .footer-top {
    flex-direction: column;
  }

  /* Center align the footer sections */
  .footer-top,
  .footer-contact,
  .footer-social,
  .footer-nav {
    text-align: center;
  }

  /* Center align the social icons */
  .footer-social ul {
    justify-content: center;
  }
}
