.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.herocontainer {
  height: 300px;
  width: 100%;
  background-color: #f86f44;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 16px;
}

.searchbar {
  height: 48px;
  border-radius: 8px;
  width: 100%;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.searchbox {
  display: flex;
  flex-direction: row;
  min-width: 250px;
  max-width: 350px;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 24px;
}

.content {
  margin: 1rem;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* Desktop */
@media (min-width: 1121px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
